<launch>
  <arg name="end_effector" default="gripper"/>
  <arg name="with_gripper" default="false"/>

  <node name="teleop_joystick" pkg="open_manipulator_p_teleop" type="open_manipulator_p_teleop_joystick" output="screen">
    <remap from="kinematics_pose" to="$(arg end_effector)/kinematics_pose"/>
    <param name="end_effector_name" value="$(arg end_effector)"/>
    <param name="with_gripper"      value="$(arg with_gripper)"/>
  </node>
</launch>
